:root {
  --vh: 100vh;
  --vw: 100vw;
}

html {
  overflow: hidden;
  --vh: 100vh;
  --vw: 100vw;
}
.androidFix {
  overflow: hidden !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.btnsmenu {
  font-size: 1.7rem;
  border: 1px solid rgb(50, 50, 50);
  width: 33.33%;
  position: relative;
}
.selectedOption {
  color: rgb(227, 192, 238) !important;
  background: purple;
}
.btnmessage {
  /*background: purple;*/
}

.card-message {
  height: calc(100vh - 238px);
  max-height: calc(100vh - 238px);
  overflow: auto;
  padding: 0;
}

.card-users {
  height: calc(100vh - 163px);
  max-height: calc(100vh - 163px);
}

.card-config {
  height: calc(100vh - 165px);
  max-height: calc(100vh - 165px);
}

.card-history {
  height: calc(100vh - 98px);
  max-height: calc(100vh - 98px);
}

.numberNoti {
  font-size: 12px;
  background: black;

  border-radius: 35px;
  font-weight: bolder;
  width: 25px;
  height: 19px;
  position: absolute;
  left: 50%;
  top: 61%;
  display: none;
}
.numberUsers {
  font-size: 12px;
  background: black;

  border-radius: 35px;
  font-weight: bolder;
  width: 25px;
  height: 19px;
  position: absolute;
  left: 50%;
  top: 61%;
}

/* #content-users,
#content-history,
#content-config {
  display: none;
} */
.infouser {
  display: block;
}
.card-history {
  padding: 0;
}

/* html {
  max-height: 100vh;
  overflow: hidden;
} */

body {
  /*background: transparent;*/
  background: #ecfffd;
  padding: 0;
  margin: 0;
  max-width: 20000px;
  width: 100%;
  max-height: 100vh;

  overflow: hidden;
}

.fileUploadingInput {
  height: 45px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.text-upload-input {
  margin-left: 15px;
}

.panel-view-img-file {
  position: absolute;
  z-index: 50;
  background-color: #182025;
  opacity: 0.96;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeViewImg {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 70;
  color: #c5c6c8;
  cursor: pointer;
}
.downloadViewImg {
  position: absolute;
  right: 75px;
  top: 20px;
  z-index: 70;
  color: #c5c6c8;
  cursor: pointer;
}
.form-buscador {
  display: flex;
}
.iconSearch {
  margin-left: -30px;
  margin-top: 12px;
}
.iconDeleteText {
  font-size: 18px;
  margin-left: -30px;
  margin-top: 9px;
  cursor: pointer;
  z-index: 1;
}
.container-destino {
  text-align: left;
  height: 50px;
  border-bottom: 1px solid rgb(190, 190, 190);
  display: flex;
  align-items: center;
}
.title-destino {
  margin-top: 7px;
  margin-left: 7px;
  font-size: 20px;
}

.tooltipMsg {
  width: 100%;
  height: 100%;
}

.fa-chevron-left {
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(140, 140, 140);
  margin-top: 1.2px;
  margin-left: 2px;
  cursor: pointer;
}
.mymessage {
  display: flex;

  /*background: rgb(220,220,220);*/
  background: rgb(245, 245, 245);
  padding: 6px 10px 6px 10px;

  word-wrap: break-word;

  text-align: left;

  max-width: 100%;
}
.othermessage {
  display: flex;
  /*background: rgb(220,220,220,0.5);*/
  background: rgb(255, 255, 255);
  padding: 6px 10px 6px 10px;

  word-wrap: break-word;

  text-align: left;
  max-width: 100%;
}

.chathistory {
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  word-wrap: break-word;
  margin-right: 0;
  padding-right: 0;
  display: block;

  align-content: center;
}
.hora {
  font-size: 10px;
  color: #000;
  float: right;
}
.menuhistory {
  position: absolute;

  bottom: 0;
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(190, 190, 190);
}
.todochathistory {
  /*position: relative;*/
  display: none;
}

.iconDeleteText {
  display: none;
}

.imghistory {
  margin-top: 5.5px !important;
}

.imguser {
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  margin-right: 9px;
  margin-top: 1px;
  background: rgb(245, 245, 245);
  border: 1px solid white;
}
.img-edit,
.img-viewed,
.img-hash {
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  margin-right: 9px;
  margin-top: 1px;
  background: rgb(245, 245, 245);
  border: 1px solid white;
}
.name-edit {
  margin-top: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
}
.name-viewed,
.name-hash {
  margin-top: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 85%;
}

.align-file-msg {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  background: #f0f0f0;
  padding: 15px;
  width: 306px;
  max-width: 100%;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.imgFileUpload,
.imgViewUpload {
  border-radius: 0;
  max-width: 350px;
  max-height: 500px;
}

.imgViewUpload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  margin: auto;
  cursor: zoom-in;
  border: none;
}

.info-img-view {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 60;

  display: flex;
}

.info-img-view img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 25px;
}

.name-info-img {
  color: #d3d4d6;
  font-weight: 600;
  max-width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hora-info-img {
  color: #979a9c;
  font-weight: 600;
  font-size: 13px;
}

.align-info-img {
  display: flex;
  flex-direction: column;
}

.imgFileUpload {
  cursor: pointer;
  padding: 5px;
}

img.zoom {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
  cursor: zoom-out;
}

.comment-img-file {
  text-decoration: solid;
  color: black;
}

.align-file-msg img {
  border-radius: 0px;
  width: 26px;
  height: 30px;
  margin-top: -3px;
}

.name-file-msg-download {
  color: black;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px;
  width: 220px;
  overflow: hidden;
  cursor: pointer;
}

.download-file {
  text-decoration: none !important;
}

.icon-download-file {
  color: #929292;
  float: right;
  margin-top: -0px;
}

/* .content-download-file-msg {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

.content-download-file-msg:hover {
  background-color: rgb(187, 187, 187);
} */

.name-hash {
  cursor: pointer;
}

.hashUser {
  position: absolute;
  bottom: 100px;
  left: 20px;
  background: transparent;
  width: 90%;
}

.check1 {
  cursor: pointer;
}

#imgUserConfig {
  background: rgb(245, 245, 245);
}

.contenidoimg img,
#content-config img,
.contenidousers img,
.content-edit img,
.content-viewed img,
.content-hash img {
  border-radius: 150px;
  /*background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;*/
}

.chathistory {
  overflow-y: auto;
}
.horamessage {
  flex: 1;
  padding-bottom: 0px;
  padding-right: 10px;
}

.spacingSection {
  margin-left: 58.7px;
}

.elementsmessage {
  position: absolute;
  bottom: 68px;
  width: 100%;
  height: 62px;
  background: rgb(238, 238, 238);

  border: 1px solid rgb(190, 190, 190);
}

.contenidomessagenofocus,
.contenidochatmessages {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-edit,
.content-viewed {
  max-height: 500px;
  overflow: auto;
}

.selectedHash {
  background-color: #262626;
  color: whitesmoke;
}

.content-hash {
  max-height: 200px;
  overflow: auto;
  padding: 0 !important;
  background-color: rgb(247, 242, 242);
}

.user-edit,
.user-viewed {
  display: block;
  margin-top: 10px;
}
.user-hash {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
}
.btnCambiarApodo,
.btnCancelarApodo {
  background: rgb(90, 5, 116);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btnCambiarApodo:hover,
.btnCancelarApodo:hover {
  background: rgb(121, 31, 148);
}
.messageNoti {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 96%;
  margin: 0;
  padding: 0;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  height: 1px;
  background-color: rgb(200, 200, 200);
}
.btnenviar,
.btnEnvio,
.btnStickers,
.btnAudio,
.btnEmojis,
.btnFile,
.btnClip {
  background: transparent;
  float: right;
  width: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(80, 80, 80);
}
/*.form-message:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6) !important;
}*/

.focus-message {
  display: flex;
  width: 100%;
  border: 1px solid rgb(184, 179, 179);
  border-radius: 15px;
}
.btnenviar:focus,
.btnEnvio:focus,
.btnEnvio:hover,
.btnStickers:focus,
.btnStickers:hover,
.btnAudio:focus,
.btnAudio:hover,
.btnEmojis:focus,
.btnEmojis:hover,
.btnFile:focus,
.btnFile:hover,
.btnClip:focus,
.btnClip:hover {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
  color: black !important;
}
.btnEnvio:hover,
.btnStickers:hover,
.btnAudio:hover,
.btnEmojis:hover,
.btnFile:hover,
.btnClip:hover {
  transform: scale(1.2);
}

.elementssubmessage {
  border: 1px solid rgb(190, 190, 190);
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 15px;
  background: white;
  display: flex;
  align-content: center;
  align-items: center;
  width: auto;
}

.icon-loader {
}

.textMessage {
  flex: 1;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  max-height: 60px;
  width: 90%;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent !important;
  border-color: transparent !important;
  overflow: auto;
}
.textMessage:focus {
  border: none !important;
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.users-history {
  word-wrap: break-word;
}
.titulousers {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  word-wrap: break-word;
}
.imguser_mini {
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;

  float: left;
  display: block;
  background: rgb(245, 245, 245);
}

#imgUserConfig {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.subcontenidousers {
  display: flex;

  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(178, 178, 178);
}

.nomuser {
  margin-top: 2.5px;
  font-size: 0.9rem;
}
.myNameUser {
  font-weight: 600;
  color: #000;
}

.nom-user-message {
  font-weight: 590;
  color: #000;
}

.nameUserConfig {
  font-size: 18px;
  font-weight: 600;
}

.otherNameUser {
  font-weight: 600;
  color: rgb(30, 30, 30);
}
.todouserhistory {
  overflow: auto;
}
.contenidochatmessages {
  margin-top: 5px;
}
.messageschatnoti {
  padding: 10px;
  border-bottom: 1px solid rgb(190, 190, 190);
  position: relative;
}
.fa-chevron-right {
  float: right;
  margin-top: -45px;
  color: rgb(140, 140, 140);
  cursor: pointer;
}
.fa-paper-plane {
}
.fa-comment,
.fa-user-friends,
.fa-cog {
  cursor: pointer;
}
.messageschatnoti:hover,
.contenidotitulo:hover {
  background: rgb(241, 241, 241);
  cursor: pointer;
}

.messageschatnoti:active,
.contenidotitulo:active,
.messageschatnoti:focus,
.contenidotitulo:focus {
  background: rgb(70, 70, 70) !important;
  color: white !important;
}

.newMessage {
  background: rgb(215, 215, 215);
}
.systemEdit {
  text-align: center;
  background-color: rgb(220, 220, 220);
  color: black;
  font-weight: lighter;
}
.panel-message {
  position: relative;
}

.chatnotify {
  overflow: auto;
}
.popover1 {
  float: right;
  margin-right: 20px;
  margin-top: -38px;
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
}
.popover1:focus {
  border: none;
  outline: none;
}
.popover1 {
  border: none;
  background: transparent;
  color: #000;
  padding-left: 6px;
}
.popover1:focus {
  border: none;
  outline: none;
}
.popover1::before {
  border: none;
  outline: none;
}
.popover1:checked {
  border: none;
  outline: none;
}
.popover-body {
  background: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}
.bs-popover-auto[x-placement^="right"] > .arrow::after,
.bs-popover-right > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgb(60, 60, 60);
}
.bs-popover-auto[x-placement^="left"] > .arrow::after,
.bs-popover-left > .arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-right-color: rgb(60, 60, 60);
}
.textMessage {
}

.card-footer {
}
.container-message {
}
.card-users,
.card-config,
.card-history {
  overflow: auto;
}

.card-users {
  padding: 10px;
}

textarea {
  resize: none;
  height: 45px !important;
  width: calc(100%-80px) !important;
  border: none !important;
  outline: none !important;
  background: transparent !important;
}
.btnEnvio {
  width: 45px;
  float: right;
}
.btnStickers,
.btnAudio,
.btnEmojis,
.btnFile,
.btnClip {
  width: 35px;
}

.files-content {
  display: flex;
  flex-direction: column;
  max-width: 65px;
}

.videoFileUpload {
  padding: 5px;
  max-width: 400px;
}

.file-upload-msg,
.multimedia-upload-msg,
.video-upload-msg {
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 20;
  cursor: pointer;
  width: 53px;
  height: 53px;
  font-size: 16px;
}
.audio-upload-msg {
  background-image: linear-gradient(bottom, #f78d0c 50%, #f17901 50%);
  background-image: -o-linear-gradient(bottom, #f78d0c 50%, #f17901 50%);
  background-image: -moz-linear-gradient(bottom, #f78d0c 50%, #f17901 50%);
  background-image: -webkit-linear-gradient(bottom, #f78d0c 50%, #f17901 50%);
  background-image: -ms-linear-gradient(bottom, #f78d0c 50%, #f17901 50%);
  max-width: 20px;
  width: 20px;
  margin-left: 0;
  max-height: 23px !important;
  color: white;
  font-size: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: 3px;
  outline: none;
  border-radius: 35px;
  border: none;
  opacity: 1;
  text-align: center;
  transform: translateY(0%) scaleX(1) scaleY(1);
  z-index: 20;
  cursor: pointer;
  display: table;
}
.imgPreviewUpload {
  max-width: 90%;
  max-height: 65%;
  min-height: 100px;
  border-radius: 0px;
  margin-bottom: 65px;
}

.content-upload-movil {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  bottom: 25px;
}

.bodyFilesPanel {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerFilesPanel {
  background-color: #191f23;
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.iconImgFiles {
  border-radius: 0px;
  width: 26px;
  height: 30px;
}

.btnSendFile,
.loader-file-msg {
  position: absolute;
  right: 40px;
  bottom: 75px;
  background-color: #00af9c;
  border-radius: 35px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reserve-file {
  width: 70px;
  height: 74px;
  border: 3px solid #75787a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-file-upload {
  font-weight: 300;
  font-family: inherit;
  color: rgb(200, 200, 200);
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.headerFilesPanel {
  background-color: #323739;
  font-size: 19px;
  font-weight: 500;
}

.textCommentImgFile {
  background-color: #30363b7e !important;
  border: none !important;
  outline: none !important;
  border-bottom: 2px solid #00af9c !important;
  color: whitesmoke !important;
}

.textCommentImgFile:focus {
  border-bottom: 2px solid #00af9c !important;
  outline: none !important;
  box-shadow: none !important;
}

.textCommentImgFile::placeholder {
  color: #9fa1a5;
}

.miniPreviewImgUpload {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.panel-files-content {
  z-index: 33;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e2429;
  display: flex;
  flex-direction: column;
}

.file-upload-msg:focus,
.multimedia-upload-msg:focus {
  border: none;
  outline: none;
}

input[type="file"]#fileMsg {
  width: 0;
  position: relative;
}
input[type="file"]#fileMsg::before {
  content: "Select some files";
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
  height: 80%;
  width: 17%;
}
input[type="file"]#fileMsg:hover::before {
  border-color: black;
}
.fileMsg {
  display: none;
}
.form-message {
  display: flex;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.variarColorUser {
  /*background: rgb(240, 240, 240);*/
}

.myUserName {
  color: rgb(20, 20, 20);
}

.otherUserName {
  color: rgb(90, 90, 90);
}

.selector-color {
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
}
.selector-color:focus {
  background: transparent;
  border: none;
  outline: none;
}
.modal-login {
  color: #636363;
  width: 350px;
  margin: 80px auto 0;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}
.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
  width: 100%;
}
.modal-login .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
input[type="file"]#fileMsg {
  width: 0;
  position: relative;
}
input[type="file"]#fileMsg::before {
  content: "Select some files";
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
  height: 80%;
  width: 17%;
}
.othercontenidomessage,
.mycontenidomessage {
  word-break: break-word;
}
input[type="file"]#file {
  width: 0;
  position: relative;
}
.myNumberNoti {
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 10px;
  display: none;
}
.fileMsg {
  display: none;
}
.emoji {
  border-radius: 0;
  width: 70px;
  height: 70px;
}
#emojiWrapper {
  /*grid-template-columns: repeat(4, 0fr);
  gap: 1em;*/
  display: none;
  padding: 5px;
  max-width: 90%;
  max-height: 250px;
  overflow: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 10px #555;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 90px;
  right: 18px;
  z-index: 1;
}
.stickersGroudPanel {
  bottom: 90px;
  right: 15px;
  z-index: 1;
  height: 335px;
  background-color: rgb(255 242 242);
}
#emojiWrapper img {
  border-radius: 0;
  width: 83px;
  height: 83px;
  margin: 0;
  padding: 5px;
}
#emojiWrappet img:hover {
}

.card-stickers-res {
  position: relative;
  background-color: rgb(247 235 235);
}

.img-gif:hover,
.imgStickerPrivate:hover {
  transform: scale(1.2);
  /* box-shadow: 0 0 2px blue; */
  cursor: pointer;
}
.iconEdit {
  float: right;
  position: absolute !important;
  right: 15px;
  cursor: pointer;
}
.fa-edit {
  font-size: 18px;
}
.iconEdit:hover {
  transform: scale(1.2);
}
.emoji:hover {
  transform: scale(1.3);
}
.emoji-picker__emojis {
  --emoji-per-row: 7;
  grid-template-columns: repeat(--emoji-per-row, 1fr) !important;
  width: 100% !important;
}
[contentEditable="true"]:empty:before {
  content: attr(placeholder);
}

#textMessage {
  display: inline-block;
  margin-top: -3px;
  height: 45px;
}
.mention-user {
  /* background-color: rgb(196, 202, 103); */
  width: auto;
  display: inline;
  cursor: pointer;
}
/*.movilEmojis {
  padding: 0px !important;
  width: 100%;
  max-width: 100% !important;
  max-height: 250px !important;
  bottom: 0 !important;
  display: inline-block !important;
}*/
.emoji-picker__container {
  --emoji-per-row: 7;
  grid-template-columns: repeat(--emoji-per-row, 1fr) !important;
}
/*.emoji-picker__search-icon {
  bottom: 10px;
}*/
.svg-inline--fa {
  vertical-align: 0 !important;
}
.userLink {
  color: #039be5 !important;
}

/* .tooltip {
  font-weight: normal;
  color: #3c48e5;
  text-decoration: none;
  position: relative;
}

.tooltip:hover {
  text-decoration: underline;
}

.tooltip:hover .tooltip-box {
  display: inline-block;
}

.tooltip-box {
  display: none;
  position: absolute;
  background: #000;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 30px;
}

.tooltip-box::after {
  content: "";
  display: block;
  border-top: 7px solid #000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: calc(50% - 7px);
} */

.tooltipCustom {
  position: relative;
  display: inline-block;
}
.tooltipCustom .tiptextCustom {
  margin-top: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.tooltipCustom .tiptextCustom::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}
.tooltipCustom:hover .tiptextCustom {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
.tooltipCustom.leftCustom .tiptextCustom {
  top: -5px;
  right: 110%;
}
.tooltipCustom.leftCustom .tiptextCustom::after {
  margin-top: -5px;
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent #2e2e2e;
}

.tooltipCustom.bottomCustom .tiptextCustom {
  font-size: 12px !important;
  max-width: 100px;
  margin-left: -53px;
  top: 150%;
  left: 50%;
}
.tooltipCustom.bottomCustom .tiptextCustom::after {
  margin-left: -5px;
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #2e2e2e transparent;
}

.tiptextCustom:hover {
  visibility: hidden !important;
  opacity: 0 !important;
}

.waveCustom {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.waveCustom-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0;
  opacity: 0.6;
  --webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.center-flex-row-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* margin-right: 6px --> microphone button */

.grab_audio {
  width: 300px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.confirmAudio {
  color: green;
  font-size: 28px;
  margin-right: 5px;
  cursor: pointer;
}

.cancelAudio {
  color: red;
  font-size: 28px;
  cursor: pointer;
}

.redAudioGrab {
  visibility: visible !important;
  padding: 6px !important;
  margin-right: 10px !important;
  margin-top: 2px !important;
}

.duracionGrab {
  margin-right: 12px;
  margin-top: -2px;
}
.loading {
  background: #1e1e1e url("../img/loader.gif") center center no-repeat;
  background-size: 20px;
}

.b-lazy {
  width: 100%;
}

.wrapper_stickers {
  float: left;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;
}

.wrapper_stickers:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.selectedStickHead {
  background-color: rgba(0, 0, 0, 0.25);
}

.body_stickers {
  background-color: rgb(255 242 242);
}

.wrapper_stickers_body {
  height: 90px;
  width: 90px;
  overflow: hidden;
  position: relative;
}
.ratio_big-img {
  padding-bottom: 56.7%;
}
.section_stickers {
  max-width: 970px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

audio {
  width: 340px !important;
  height: 50px !important;
}
/* 
video::-internal-media-controls-download-button,
audio::-internal-media-controls-download-button {
  display: none !important;
}

video::-webkit-media-controls-enclosure,
audio:-webkit-media-controls-enclosure {
  overflow: hidden !important;
}

video::-webkit-media-controls-panel,
audio::-webkit-media-controls-panel {
  width: calc(100% + 35px);
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
} */

.download-audio {
}

@media only screen and (max-width: 767px) {
  .videoFileUpload {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 550px) {
  .grab_audio {
    width: 55% !important;
  }
  .container {
    padding: 0 !important;
    width: 100vw !important;
    height: 104vh !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    margin: 0 !important;
    overflow: hidden;
  }
  .align-file-msg {
    width: 230px;
    max-width: 230px;
  }
  .imgFileUpload,
  .imgViewUpload {
    max-width: 90%;
  }
  /*#emojiWrapper {
    padding: 0px !important;
    width: 100%;
    max-width: 100% !important;
    max-height: 250px !important;
    display: inline-block !important;
    right: 0;
  }*/
  .name-edit {
    max-width: 30%;
  }
  #emojiWrapper {
    right: 0;
    max-width: 100%;
  }
  .card-message {
    height: calc(100vh - 202px);
    max-height: calc(100vh - 202px);
    overflow: auto;
    padding: 0;
  }
  .card-users {
    height: calc(100vh - 127px);
    max-height: calc(100vh - 127px);
  }

  .card-config {
    height: calc(100vh - 129px);
    max-height: calc(100vh - 129px);
  }
  .card-history {
    height: calc(100vh - 62px);
    max-height: calc(100vh - 62px);
  }
  video {
    max-width: 100% !important;
  }
  audio {
    max-width: 100% !important;
  }

  /*#emojiWrapper img {
    border-radius: 0;
    width: 20%;
    height: 83px;
    margin: 0;
    padding: 5px;
  }*/
}
.Blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.circle {
  content: " ";
  display: inline-block;
  border-radius: 50%;
  background-color: red;
  color: red;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 0;
  border: 1px red solid;
  width: 7px; /*misma altura y anchura*/
  height: 7px;
  visibility: hidden;
}
