body {
  background: #3b3b3b;
}
.card {
  border: 1px solid rgb(120, 120, 120) !important;
  background-color: #0f0d0dc0 !important;
  color: #f1eded !important;
}
.nomuser,
.myUserName {
  color: white !important;
}
.otherUserName {
  color: rgb(200, 200, 200) !important;
}
.far,
.fas,
.fa {
  color: rgb(214, 214, 218) !important;
}

.fa-user-friends,
.fa-comment,
.fa-cog {
  color: white !important;
}

.icon-ready {
  color: rgb(190, 190, 190) !important;
}

.card-stickers-res {
  background-color: rgb(27 22 22) !important;
}

.body_stickers {
  background-color: rgb(43 39 39) !important;
}

.content-hash {
  background-color: rgb(29, 28, 28) !important;
}

.grab_audio {
  background-color: rgb(49, 49, 49) !important;
}
.cancelAudio {
  color: rgb(196, 52, 52) !important;
}
.confirmAudio {
  color: green !important;
}
.wrapper_stickers:hover {
  background-color: #393a3c !important;
}
.selectedStickHead {
  background-color: #393a3c !important;
}

/* .tooltipCustom .tiptextCustom {
  background-color: rgb(200, 200, 200) !important;
  color: rgb(40, 40, 40) !important;
}

.tooltipCustom.leftCustom .tiptextCustom::after {
  border-color: transparent transparent transparent rgb(200, 200, 200) !important;
} */

.mymessage {
  color: whitesmoke !important;
  background-color: rgb(29, 27, 27) !important;
}
.othermessage {
  color: whitesmoke !important;
  background-color: rgb(36, 36, 36) !important;
}
.horamessage,
.hora {
  color: whitesmoke !important;
}
.messageschatnoti {
  border-bottom: 1px solid rgb(120, 120, 120) !important;
}
.messageschatnoti:hover {
  background-color: rgb(70, 70, 70) !important;
}
hr {
  color: white !important;
  background-color: white !important;
}
.card-header {
  border-bottom: 1px solid rgb(120, 120, 120) !important;
}

.container-destino {
  border-bottom: 1px solid rgb(120, 120, 120) !important;
}
.card-footer {
  border-top: 1px solid rgb(120, 120, 120) !important;
}
#guardarCambios {
  background-color: teal;
}
#guardarCambios:hover {
  background-color: rgb(50, 90, 90);
}
#eliminarFoto {
  background-color: brown;
  border: none;
}
#eliminarFoto:hover {
  background-color: rgb(114, 22, 22);
}
input[type="text"],
textarea,
#textMessage,
.textMessage {
  color: #f1f1f2 !important;
  background-color: rgb(36, 36, 36);
}
.form-control:focus {
  background-color: rgb(36, 36, 36);
}
.popover-body {
  background-color: rgb(200, 200, 200) !important;
  color: rgb(40, 40, 40) !important;
  cursor: pointer;
}
.bs-popover-auto[x-placement^="right"] > .arrow::after,
.bs-popover-right > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgb(200, 200, 200);
}
.bs-popover-auto[x-placement^="left"] > .arrow::after,
.bs-popover-left > .arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-right-color: rgb(200, 200, 200);
}
.bs-popover-auto[x-placement^="left"] > .arrow::after,
.bs-popover-left > .arrow::after {
  border-left-color: rgb(200, 200, 200);
}
#emojiWrapper {
  background-color: rgb(36, 36, 36);
}
.newMessage {
  background: rgb(86, 86, 86) !important;
}
.systemEdit {
  text-align: center;
  background-color: rgb(40, 40, 40) !important;
  color: white !important;
}
video {
}
.loader-page {
  background-color: rgb(52, 61, 91) !important;
}
.inputPathUrl,
.inputCodUrl {
  color: whitesmoke !important;
  background-color: rgb(36, 36, 36) !important;
  border: 1px solid rgb(80, 80, 80);
}

.myNameUser {
  color: whitesmoke !important;
}

.otherNameUser {
  color: white !important;
}

.nom-user-message {
  color: whitesmoke !important;
}
