<nav class="navbar navbar-light bg-dark p-0">
  <button class="navbar-brand mx-auto btn btn-primary-outline btnsmenu btnmessage selectedOption" data-toggle="tooltip" data-placement="bottom" title="Chat" data-name-nav="Chat">
    <label class="text-white iconmessage iconsform1"><i class="far fa-comment"></i></label>
    <div class="numberNoti text-white">
     0
    </div>
  </button>
  <button class="navbar-brand mx-auto btn btn-primary-outline btnsmenu btnusers" data-toggle="tooltip" data-placement="bottom" title="Usuarios" data-name-nav="Usuarios">
    <label class="text-white iconusers iconsform1"><i class="fas fa-user-friends"></i></label>
    <div class="numberUsers text-white">
      0
     </div>
  </button>
  <button class="navbar-brand mx-auto btn btn-primary-outline btnsmenu btnconfig" data-toggle="tooltip" data-placement="bottom" title="Mis ajustes" data-name-nav="Mis ajustes">
    <label class="text-white iconconfig iconsform1"><i class="fas fa-cog"></i></label>
  </button>
</nav> 